<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="martha hipley is an artist and technologist with a journeyman's approach to commercial digital products and conceptual art." />
    <meta name="keywords" content="new media art, contemporary art, interaction design, visual art, digital art, web development, web design">

    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:site" content="@everyartisugly">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:description" content="martha hipley is an artist and technologist with a journeyman's approach to commercial digital products and conceptual art.">
    <meta name="twitter:creator" content="@everyartisugly">

    <meta name="twitter:image" content="{{site.url}}/images/twitter-card.jpg">

    {%- if page.name == "index.markdown" -%}
    <meta property="og:title" content="{{site.title}}" />
    <title>{{site.title}}</title>
    {%- else -%}
    <meta property="og:title" content="{{site.title}} | {{page.title}}" />
    <title>{{site.title}} | {{page.title}}</title>
    {%- endif -%}
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:image" content="{{site.url}}{{site.social-img}}" />
    <meta property="og:description" content="martha hipley is an artist and technologist with a journeyman's approach to commercial digital products and conceptual art." />
    <meta property="og:site_name" content="marthahipley.com" />


    
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/glider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140986688-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140986688-1');
    </script>

</head>