
<form action="https://tinyletter.com/everyoneisugly" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/everyoneisugly', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="newsletter">
    <p><label for="tlemail">newsletter for additional writing and professional updates:</label></p><input type="text" name="email" id="tlemail" placeholder="your email"/><input type="hidden" value="1" name="embed" /><input type="submit" value="submit" />
</form>
        