<ul id="social-links">
    <li><a href="https://www.instagram.com/everyoneisugly/" target="_blank"><div class="icon icon-instagram"></div></a></li>
    <li><a href="https://everyartisugly.tumblr.com/" target="_blank"><div class="icon icon-tumblr"></div></a></li>
    <li><a href="https://github.com/mhipley" target="_blank"><div class="icon icon-github"></div></a></li>
    <li><a href="https://twitter.com/everyartisugly" target="_blank"><div class="icon icon-twitter"></div></a></li>
    <li><a href="https://everyoneisugly.itch.io/" target="_blank"><div class="icon icon-itchio"></div></a></li>
</ul>