---
layout: default
---

<div class="home">

  <div class="content container-fluid">
      <div class="row middle-sm">
          <div class="col-xs-12 col-sm-6 feature-wrapper">
            <div id="underlay"></div>
            <div class="row" id="feature-block">
                <div class="col-xs-12" style="position: relative;">
                    <div class="feature">
                        <h2 id="howdoesit"><a href="https://howdoesit.cyou/" target="_blank">how does it make you feel?</a></h2>
                        <h6>a visual novel about balancing hormones at the turn of the millenium</h6>
                    </div>
                </div>
                <div class="col-xs-12" style="position: relative;">
                    <div class="feature">
                        <h2 id="everyoneisugly"><a href="https://everyoneisugly.com/" target="_blank"><span class="line">everyoneisugly</span><span class="line">.com</span></a></h2>
                        <h6>art & personal projects</h6>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="feature">
                        <h2 id="agtc"><a href="https://www.artistsguide.to/" target="_blank">an artist's guide to computation</a></h2>
                        <h6>a newsletter of art & technology resources for creators of all kinds</h6>
                    </div>
                </div>

            </div>
          </div>
          <div class="col-xs-12 col-sm-6 index-content">
            {{ content }}
            {%- include newsletter.html -%}
          </div>
      </div>
  </div>

    <!-- <div class="content container-fluid">
        <div class="links-wrapper">
        {%- if site.posts.size > 0 -%}
            <h3 class="post-list-heading">recent links:</h3>

        <div class="glider-contain">
            <div class="glider">
                {%- for post in site.posts limit:10 -%}
                {% if post.categories contains 'link' %}
                    <a href="{{ post.link }}"" target="_blank">
                    <div class="link-card hide">
                        <div class="link-tag">
                            {{ post.tag }}
                        </div>
                        <div class="link-image" role="img" aria-label="{{post.image-alt}}" style="background-image: url('{{site.url}}/images/{{ post.image }}'">
                                            
                        </div>
                        <div class="link-description">
                            {{ post.description }}
                            <div class="date">{{ post.date | date: "%B %Y"}}</div>
                        </div>
                        
                    </div>
                    </a>
                {% endif %}
            {%- endfor -%}
            </div>
        
            <button aria-label="Previous" class="glider-prev"><div class="icon icon-left"></div></button>
            <button aria-label="Next" class="glider-next"><div class="icon icon-right"></div></button>
            <div role="tablist" class="dots"></div>
        </div>

        {%- endif -%}
        <div class="row end-xs">
            <div class="col-xs-12">
                <a href="{{site.url}}/links/" class="view-more">view more <span class="icon icon-forward"></span></div></a>
            </div>
        </div>
    </div> -->

</div>


</div>

