---
layout: web
---
<div class="content container-fluid">
    
    <div class="row">
        <div class="col-xs-12 col-sm-4">

            <h2>hey! listen!</h2>
            {{ content }}
        </div>
        <div class="col-xs-12 first-xs last-sm col-sm-8">
            
            <div id="hello-img">
                <h2 id="hire-msg">let's collaborate!!</h2>
                <img src="/images/available-alt.gif">
                <div id="sploosh-1" class="sploosh"></div>
                <div id="sploosh-2" class="sploosh"></div>
                <div id="sploosh-5" class="sploosh"></div>
                <div id="sploosh-4" class="sploosh"></div>
                <div id="sploosh-3" class="sploosh"></div>

            </div>
        </div>
    </div>

</div>
  