---
layout: web
---
<div class="content container-fluid">
    
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            {{ content }}

            <h2>Recent Work</h2>

            <ul class="work-samples">
            {% assign work = site.posts | where: "categories", 'work' %}

            {%- for post in work limit:3 -%}
                <li>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="img-wrapper">
                                <img src="{{site.url}}/images/{{ post.image }}">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <div class="description">
                               
                                <h3><a target="_blank" href="{{post.link}}">{{ post.slug }}</a></h3>
                                <p>{{post.content}}</p>
                                <h4>ROLE(S)</h4>
                                <p>
                                    {% for item in post.roles %} 
                                        {{ item }}
                                        {% if forloop.last %}{% else %}|{% endif %}
                                    {% endfor %}  

                                </p>
                                <h4>TECHNOLOGIES</h4>
                                <p>
                                    {% for item in post.tech %} 
                                    {{ item }}
                                    {% if forloop.last %}{% else %}|{% endif %}
                                {% endfor %}  
                                </p>
                                {% if post.credits %}
                                <h4>ADDITIONAL CREDITS</h4>
                                
                                <ul class="credits">
                                    {% for item in post.credits %} 
                                    <li>
                                        {{ item.desc }} <a href="{{item.link}}" target="_blank">{{item.name}}</a>
                                    </li>
                                    {% endfor %}  
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                   
                   
                </li>
                
            {%- endfor -%}

            </ul>


        </div>
        <div class="col-xs-12 col-sm-4">

            <!-- TESTIMONIALS -->
            <h2>TESTIMONIALS</h2>

            <ul class="testimonials">
                {%- for post in site.posts -%}
                {% if post.categories contains 'testimonial' %}
                
                    <li class="testimonial">
                        <blockquote>
                            {{ post.content }}
                        </blockquote>
                       
                        <label class="author">
                            {{ post.author }}
                        </label>
                    </li>
                    
                {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>

</div>
  