---
layout: web
---
<div class="content container-fluid">
    
    <div class="row">
        <div class="col-xs-12">
            <h2>pricing 2021</h2>
                {{ content }}
        </div>

    </div>
    <div id="mobile-pricing" class="pricing-grid">
        <h6>community</h6>
        <div class="row">
            
            <div class="col-xs-12">
                <h6>personal site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + develpoment for a personal homepage or promotion of a non-commercial project (a portfolio site, a community group homepage, etc.)</p>
                <h5>$1000</h5>
                <label>($800 for development only)</label>
            </div>
            <div class="col-xs-12">
                <h6>business promotion site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project with no direct e-commerce features (a landing page for a salon, a record release microsite, etc.) </p>
                <h5>$1400</h5>
                <label>($1200 for development only)</label> 
            </div>
            <div class="col-xs-12">
                <h6>e-commerce site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project that includes direct payment features (an online shop made with Shopify, WooCommerce, etc.)</p>
                <h5>$1800</h5>
                <label>($1600 for development only)</label> 
            </div>
            <div class="col-xs-12">
                <h6>your cool interactive experience/weird art project/high concept microsite/video game/whatever</h6>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$60/year</h5>

            </div>
            <div class="col-xs-12">
                <h6>hourly design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>“my Squarespace is broken,” “I need to add an events calendar to my site,” etc.</p>
                <h5>$60/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$20/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>illustration for web</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>custom icons, product illustrations, special animations, photo editing, etc., optimized for web performance</p>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
        <h6>small business</h6>
        <div class="row">
            
            <div class="col-xs-12">
                <h6>business promotion site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project with no direct e-commerce features (a landing page for a salon, a record release microsite, etc.) </p>
                <h5>$2000</h5>
                <label>($1800 for development only)</label> 
            </div>
            <div class="col-xs-12">
                <h6>e-commerce site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project that includes direct payment features (an online shop made with Shopify, WooCommerce, etc.)</p>
                <h5>$2600</h5>
                <label>($2400 for development only)</label> 
            </div>
            <div class="col-xs-12">
                <h6>your cool interactive experience/weird art project/high concept microsite/video game/whatever</h6>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$75/year</h5>

            </div>
            <div class="col-xs-12">
                <h6>hourly design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>“my Squarespace is broken,” “I need to add an events calendar to my site,” etc.</p>
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$40/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>illustration for web</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>custom icons, product illustrations, special animations, photo editing, etc., optimized for web performance</p>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
        <h6>scaled business</h6>
        <div class="row">
            
            <div class="col-xs-12">
                <h6>business promotion site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project with no direct e-commerce features (a landing page for a salon, a record release microsite, etc.) </p>
                <h5>$3000</h5>
                <label>($2800 for development only)</label> 
            </div>
            <div class="col-xs-12">
                <h6>e-commerce site</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>design + development of a site in promotion of a business or commercial project that includes direct payment features (an online shop made with Shopify, WooCommerce, etc.)</p>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>your cool interactive experience/weird art project/high concept microsite/video game/whatever</h6>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$150/year</h5>

            </div>
            <div class="col-xs-12">
                <h6>hourly design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>“my Squarespace is broken,” “I need to add an events calendar to my site,” etc.</p>
                <h5>$150/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>illustration for web</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>custom icons, product illustrations, special animations, photo editing, etc., optimized for web performance</p>
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
    </div>
    <div id="desktop-pricing" class="pricing-grid">
        <div class="row sticky" id="scale">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-3">
                <h6>community</h6>
            </div>
            <div class="col-xs-3">
                <h6>small business</h6>
            </div>
            <div class="col-xs-3">
                <h6>scaled business</h6>
            </div>                                   
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>personal site</h6>
                <p>design + develpoment for a personal homepage or promotion of a non-commercial project (a portfolio site, a community group homepage, etc.)</p>
            </div>
            <div class="col-xs-3">
                <h5>$1000</h5>
                <label>($800 for development only)</label>
            </div>
            <div class="col-xs-6">
                
            </div>
                                
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>business promotion site</h6>
                <p>design + development of a site in promotion of a business or commercial project with no direct e-commerce features (a landing page for a salon, a record release microsite, etc.) </p>
            </div>
            <div class="col-xs-3">
                <h5>$1400</h5>
                <label>($1200 for development only)</label> 
            </div>
            <div class="col-xs-3">
                <h5>$2000</h5>
                <label>($1800 for development only)</label> 
            </div>
            <div class="col-xs-3">
                <h5>$3000</h5>
                <label>($2800 for development only)</label>                 
            </div>                                   
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>e-commerce site</h6>
                <p>design + development of a site in promotion of a business or commercial project that includes direct payment features (an online shop made with Shopify, WooCommerce, etc.)</p>
            </div>
            <div class="col-xs-3">
                <h5>$1800</h5>
                <label>($1600 for development only)</label> 
            </div>
            <div class="col-xs-3">
                <h5>$2600</h5>
                <label>($2400 for development only)</label> 
            </div>
            <div class="col-xs-3">
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>             
            </div>                                    
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>your cool interactive experience/weird art project/high concept microsite/video game/whatever</h6>
            </div>
            <div class="col-xs-9">
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
            </div>                                      
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>carbon offset web hosting</h6>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
            </div>
            <div class="col-xs-3">
                <h5>$60/year</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/year</h5>
            </div>
            <div class="col-xs-3">
                <h5>$150/year</h5>
            </div>                                  
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>hourly design & development</h6>
                <p>“my Squarespace is broken,” “I need to add an events calendar to my site,” etc.</p>
            </div>
            <div class="col-xs-3">
                <h5>$60/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$150/hour</h5>
            </div>                                
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>hourly content management</h6>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
            </div>
            <div class="col-xs-3">
                <h5>$20/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$40/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/hour</h5>
            </div>
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>illustration for web</h6>
                <p>custom icons, product illustrations, special animations, photo editing, etc., optimized for web performance</p>
            </div>
            <div class="col-xs-9">
                <p><a href="mailto:info@marthahipley.com" target="_blank">email for a quote</a> or <a href="https://calendly.com/hipley/30min" target="_blank">schedule a free consultation</a></p>
                
            </div>                                   
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>“I have this idea for an app....”</h6>
            </div>
            <div class="col-xs-9">
                <p>not for all the money in the world!!!!</p>

                
            </div>                                   
        </div>
    </div>


</div>
  