---
layout: web
---
<div class="content container-fluid">
    
    <div class="row">
        <div class="col-xs-12">
            <h2>pricing 2021</h2>
                {{ content }}
        </div>

    </div>
    <div id="mobile-pricing" class="pricing-grid">
        <h6>community</h6>
        <div class="row">
            <div class="col-xs-12">
                <h6>hourly illustration, design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>personal websites, e-commerce sites, interactive experiences, illustration for web, and more!</p>
                <h5>$60/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$20/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$60/year</h5>
            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
        <h6>small business</h6>
        <div class="row">
            
          

            <div class="col-xs-12">
                <h6>hourly design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>personal websites, e-commerce sites, interactive experiences, illustration for web, and more!</p>
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$40/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$75/year</h5>

            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
        <h6>scaled business</h6>
        <div class="row">
            
    
            <div class="col-xs-12">
                <h6>hourly design & development</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>personal websites, e-commerce sites, interactive experiences, illustration for web, and more!</p>
                <h5>$150/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>hourly content management</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-12">
                <h6>carbon offset web hosting</h6>
                <span class="icon icon-left" onclick="openDetail(this)"></span>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
                <h5>$150/year</h5>

            </div>
            <div class="col-xs-12">
                <h6>“I have this idea for an app....”</h6>
                <p>not for all the money in the world!!!!</p>
            </div>
        </div>
    </div>
    <div id="desktop-pricing" class="pricing-grid">
        <div class="row sticky" id="scale">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-3">
                <h6>community</h6>
            </div>
            <div class="col-xs-3">
                <h6>small business</h6>
            </div>
            <div class="col-xs-3">
                <h6>scaled business</h6>
            </div>                                   
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>hourly design & development</h6>
                <p>personal websites, e-commerce sites, interactive experiences, illustration for web, and more!</p>
            </div>
            <div class="col-xs-3">
                <h5>$60/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$150/hour</h5>
            </div>                                
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>hourly content management</h6>
                <p>"I have 1000 blog posts I need migrated to my new site," "can you upload my entire portfolio of photos and tag them,” etc.</p>
            </div>
            <div class="col-xs-3">
                <h5>$20/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$40/hour</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/hour</h5>
            </div>
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>carbon offset web hosting</h6>
                <p>hosting & DNS management, including SSL certificate, via a green dedicated server</p>
            </div>
            <div class="col-xs-3">
                <h5>$60/year</h5>
            </div>
            <div class="col-xs-3">
                <h5>$75/year</h5>
            </div>
            <div class="col-xs-3">
                <h5>$150/year</h5>
            </div>                                  
        </div>
        <div class="row middle-xs">
            <div class="col-xs-3">
                <h6>“I have this idea for an app....”</h6>
            </div>
            <div class="col-xs-9">
                <p>not for all the money in the world!!!!</p>

                
            </div>                                   
        </div>
    </div>


</div>
  